/* Fonts */
.title {
    font-family: "Alegreya Sans SC";
}

.text {
    font-family: "Lora";
}

/* Variables */
:root {
    /* Couleurs */
    --backgroundBody_deepBlack: #131313;
    --backgroundFloating_ebony: #1a1919;
    --backgroundOthers_anthraciteGray: #282929;
    --activeSelect_iceBlue: #348aa8;
    --forms_pearlGray: #b0aeb0;
    --grayedOut_mistGray: #d0d7d8;
    --defaultColor_pureWhite: #ffffff;
    /* Text */
}

/* Général */
body,
html {
    background-color: var(--backgroundBody_deepBlack);
    color: var(--defaultColor_pureWhite);
    text-align: center;
}

body {
    padding: 38px 22px;
    position: fixed;
    width: 100%;
}
